<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style2.css">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

<div class="container_middle">
    <div class="row_middle">
        <div class="col_middle dark_middle">
            <div class="loader">
                <span data-flicker-0="J.A.R." data-flicker-1="V.I.S." class="loader-text">J.A.R.V.I.S.</span>
                <span data-flicker-2="BY ISTINUB" class="loader-text owner_text" style="font-size: 12px; margin-top: 35px;">BY ISTINUB</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">J.A.R.V.I.S</h4>
                    <p class="chatbox__description--header">At your Service</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="./images/chatbox-icon.svg" /></button>
        </div>
    </div>
    
</div>

<script src="app.js"></script>

</body>
</html>
